# Exclude testing and development files from the released ZIP package
.gitattributes export-ignore
.gitignore export-ignore
tests/ export-ignore
test_buffer_calculator.py export-ignore
temp_eval.xlsx export-ignore
*.xlsx export-ignore
*.pdf export-ignore
*.docx export-ignore
# Keep the report templates for the plugin SORA export
report_template_de.docx -export-ignore
report_template_en.docx -export-ignore
*.flightplan export-ignore
*.kml export-ignore
*.geojson export-ignore
*.png export-ignore
# Keep the main icon.png for the plugin though!
icon.png -export-ignore

